{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint-config-airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "SSO_LOCAL_CONFIG": false,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "indent": [
      "off",
      2,
      {
        "SwitchCase": 1,
        "offsetTernaryExpressions": true,
        "CallExpression": {
          "arguments": "off"
        },
        "MemberExpression": "off"
      }
    ],
    "guard-for-in": "off",
    "global-require": "off",
    "default-param-last": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "prefer-const": "warn",
    "camelcase": "off",
    "prefer-regex-literals": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true,
        "allowShortCircuit": true,
        "allowTaggedTemplates": true
      }
    ],
    "no-async-promise-executor": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "import/no-import-module-exports": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "array-callback-return": "off",
    "import/order": "off",
    "import/no-relative-packages": "off",
    "default-case": "off",
    "radix": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-await-in-loop": "off",
    "no-return-await": "off",
    "no-prototype-builtins": "off",
    "no-nested-ternary": "off",
    "no-restricted-globals": "off",
    "no-irregular-whitespace": "off",
    "no-underscore-dangle": "off",
    "no-loop-func": "off",
    "no-void": "off",
    "no-useless-constructor": "off",
    "no-restricted-syntax": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "eqeqeq": "warn",
    "no-bitwise": "off",
    "no-script-url": "off",
    "no-restricted-exports": "off",
    "no-return-assign": "off",
    "no-sequences": "off",
    "consistent-return": "off",
    "no-empty": "off",
    "no-useless-escape": "off",
    "no-case-declarations": "off",
    "no-lonely-if": "off",
    "no-else-return": "off",
    "linebreak-style": ["error", "unix"],
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "prefer-destructuring": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/iframe-has-title": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/tabindex-no-positive": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/static-property-placement": "off",
    "react/state-in-constructor": "off",
    "react/no-did-update-set-state": "off",
    "react/sort-comp": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-no-script-url": "off",
    "react/require-default-props": "off",
    "react/no-unstable-nested-components": "off",
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "react/no-access-state-in-setstate": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/no-unused-class-component-methods": "warn",
    "react/function-component-definition": "off",
    "react/no-unused-state": "off",
    "react/jsx-indent": "off",
    "react/jsx-boolean-value": ["error", "always"],
    "@typescript-eslint/no-this-alias": "warn",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    // "@typescript-eslint/no-implicit-any-catch": "on",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/no-triple-slash-reference": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "variables": false,
        "functions": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ]
  }
}
